html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0c1318;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h2{
  color: #fff4f4;
  margin: 0;
  font-size: 0.8vw; 
}

h2 {
  font-size: 1.8vw;
}

h1{
  color: #e34141;
  margin: 0;
  font-size: 5vw;
}

span{
  color: #2e97d3;
}

li{
  color: #ffdfdf;
  margin: 0;
  font-size: 0.8vw;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px){

  p{
    font-size: 3vw;
  }
  h2{
    font-size: 5vw;
  }
  h1{
    font-size: 10vw;
  }
  li{
    font-size: 3vw;
  }

}